@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
}

.left-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-section img {
  width: 46%;
  padding-left: 16px;
}

.mid-section {
  display: flex;
  align-items: center;
  margin-left: -9%;
}

.mid-section form {
  display: flex;
  height: 40px;
  width: 628px;
}

@media (max-width: 1329px) {
  .nav-link:nth-child(n + 6),
  hr,
  p {
    display: none;
  }

  .left-section img {
    width: 90px;
    margin-right: 85px;
  }

  .mid-section {
    width: 628px;
  }
  .mid-section form {
    width: 100%;
  }
  html {
    font-size: 8px;
  }
  .content-area aside {
    width: 72px;
  }
  aside .nav-link {
    padding: 16px 0 14px;
  }
  nav {
    padding-right: 0 !important;
  }
  .nav-link {
    flex-direction: column;
  }
  nav .nav-link span {
    font-size: 1.2rem;
    font-weight: 200;
    margin-left: 0px;
    text-align: center;
  }
  .material-icons-outlined,
  .material-icons {
    font-size: 25px;
  }
  aside nav p {
    font-size: 0.8rem;
    padding: 8px 5px;
  }
  main {
    padding: 24px 15px !important;
  }
}

@media (max-width: 967px) {
  .right-section a {
    padding-right: 9px !important;
  }
}
@media (max-width: 807px) {
  aside {
    display: none;
  }
  header .left-section .material-icons:hover + aside {
    display: block;
    color: red;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 500px) {
  .right-section a {
    padding-right: 5px !important;
  }
  .mid-section form {
    justify-content: flex-end;
  }
  .mid-section form input[type="text"] {
    display: none;
  }
  .mid-section form button {
    background-color: transparent;
    border: none;
    width: 0;
    margin-right: 20px;
  }
  header .mid-section .mic {
    background-color: transparent;
  }
}

@media (max-width: 385px) {
  .right-section a {
    padding-right: 8px !important;
  }
  .left-section img {
    margin-right: 33px !important;
  }
  header .mid-section .mic {
    display: none;
  }
  header .right-section a:nth-child(2n + 3) {
    display: none;
  }
  .mid-section form button {
    margin-right: 32px !important;
  }
}

.mid-section input {
  width: 100%;
  border-radius: 2px 0 0 2px;
  padding: 12px;
  font-size: 1.6rem;
  border: 1px solid #d3d3d3;
  border-right: none;
}

.mid-section button {
  border: 1px solid #d3d3d3;
  border-radius: 0 2px 2px 0;
  width: 64px;
  padding-top: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.mid-section button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
}

.mid-section .mic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.right-section {
  display: flex;
}

.right-section a {
  padding-right: 18px;
  text-decoration: none;
  color: black;
}

.content-area {
  height: calc(100vh - 56px);
  display: flex;
  background-color: #f9f9f9;
}

aside {
  height: 100%;
  width: 280px;
  background-color: white;
  overflow-y: auto;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding-right: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-link span {
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 400;
  color: #030303;
}

.active {
  background-color: #e5e5e5;
}

#active-span {
  font-weight: 500;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin: 10px 0;
}

nav p {
  font-size: 1.4rem;
  color: #606060;
  font-weight: 500;
  padding: 8px 16px;
  text-transform: uppercase;
}

.channel-img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

main {
  width: 100%;
  height: 100%;
  padding: 35px 15px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}

.videos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 330px;
  margin-bottom: 40px;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  height: 187px;
  margin-bottom: 12px;
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.video-details {
  display: flex;
}

.creator-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title a {
  text-decoration: none;
}

.title .video-title {
  color: rgb(3, 3, 3);
  font-size: 1.6rem;
  max-width: 278px;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 4px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-creator,
.title span {
  color: rgb(96, 96, 96);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.video-creator:hover {
  color: black;
}
